@model IEnumerable<TouristWeb0.TeamPartisipant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Participated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partisipant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Participated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partisipant.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeamPartisipantId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeamPartisipantId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeamPartisipantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
