@model TouristWeb0.Obstacle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Obstacle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentObstacle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentObstacle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentTarget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentTarget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovementFirst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovementFirst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionsOvercoming)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionsOvercoming)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionalComplexity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionalComplexity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObstacleEvaluation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObstacleEvaluation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ObstacleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
